/* Colors:
1) transparent white: rgba(255, 255, 255, 0.7)
2) blue: #4485C3
3) light gray: #EEEEEE
4) light blue: #97c2eb
5) other blue: rgb(18, 63, 122)
6) dark gray: rgb(77, 77, 77)

/* Shared */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    background: url(./Assets/Skyline1.jpg);
    background-position: left 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 5px solid #97c2eb;
}
.section {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 5em;
    width: 100%;
}
nav li {
    display: inline-block;
    padding: 0 2em 0 2em;
}
li {
    list-style: none;
    color: rgb(77, 77, 77);
}
h3 {
    font-size: 2.7em;
    color: rgb(18, 63, 122);
}
h2 {
    font-size: 4em;
    color: rgb(18, 63, 122);
}
h5 {
    font-weight: 700;
    color: rgb(77, 77, 77);
}
p {
    font-size: 1.2em;
    color: rgb(77, 77, 77);
}
.sectionBar {
    text-align: center;
    color: rgb(18, 63, 122);
    background-color: #97c2eb;
    width: 100%;
    padding: 2em 0 2.25em 0;
    border-top: 2px solid rgb(136, 136, 136);
    border-bottom: 2px solid rgb(136, 136, 136);
}
/* Header */
header {
    z-index: 10;
    background-color: #97c2eb;
    height: 2em;
    position: fixed;
    top: 0;
    min-width: 100%;
    max-width: 100%;
}
.topNav {
    margin: 0;
    z-index: 11;
    position: absolute;
    padding: .17em 0 0 0;
}
@media only screen and (min-width: 768px){
    .topNav{
        right: 0;
    }
}
.topNav a {
    color: rgb(77, 77, 77);
    font-weight: 600;
}
.topNav a:hover {
    text-decoration: none;
    color: rgb(18, 63, 122);
}
.title {
    height: 80vh;
    text-align: center;
}
.title h1 {
    margin-top: 20vh;
    font-size: 9vw;
}
/* About */
.aboutMe {
    padding: 0 2em 0.8em 2em;
    background-color: white;
    border: 2px solid rgb(136, 136, 136);
}
.aboutMe h3 {
    padding: 0.8em 0 0.8em 0;
}
.picture img {
    max-width: 100%;
    border: 2px solid rgb(136, 136, 136);
}
.skills {
    text-align: right;
    background: white;
    border: 2px solid rgb(136, 136, 136);
}
.skills h3 {
    text-align: center;
    padding: 0.8em 0 0.8em 0;
}
.skillsList{
    padding: 0 2em 0 0;
}
.skillsList li {
    font-size: 1.1em;
    position: relative;
    vertical-align: top;
    margin: 0 0 1.6875em 0;
    padding: 0.35em 3.5em 0 0;
}
.skillsList i {
    background-color: rgb(18, 63, 122);
    border-radius: 100%;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    width: 2.5em;
    top: 0;
}
/* Projects */
#projects {
    background: white;
}
.project img {
    max-width: 100%;
    min-width: 100%;
}
.projects h5:hover{
    color: rgb(18, 63, 122);
}
.projects a:hover {
    text-decoration: none;
}
@media only screen and (min-width:1600px){
    .project {
        padding: 1.5em 3.5em 1.5em 3.5em;
    }
}
/* Contact */
.contactForm {
    padding: 2em;
    border: 2px solid rgb(136, 136, 136);
    background: white;
}
.contactForm label {
    padding: 0.75em 0 0 0;
    width: 100%;
}
.contactForm input {
    width: 100%;
    padding: 0.25em;
    border-radius: 2px;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}
.contactForm textarea {
    border-style: inset;
    border-width: 2px;
    border-color: initial;
    border-image: initial;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    resize: none;
    border-radius: 2px;
    padding: 0.25em;
    width: 100%;
    height: 10em;
}
.contactForm input::placeholder {
    color: rgb(136, 136, 136);
    font-style: italic;
}
.contactForm textarea::placeholder {
    color: rgb(136, 136, 136);
    font-style: italic;
}
.contactForm button {
    background: rgb(18, 63, 122);
    border: 1px solid rgb(136, 136, 136);
    padding: 0.3em 1.5em 0.3em 1.5em;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    border-radius: 5px;
    margin: 0;
}
.submit {
    text-align: right;
    margin: 0;
}
.altContact {
    margin-left: 5em;
    border: 2px solid rgb(136, 136, 136);
    text-align: right;
    background: white;
    height: 100%;
}
@media only screen and (max-width:1300px) {
    .altContact {
        margin-left: 0;
    }
}
.otherLinksList {
    padding: 1.5em 2em 0 0;
}
.altContact h3 {
    text-align: center;
    padding: 0.8em 0 0.8em 0;
}
.altContact li {
    font-size: 1.1em;
    position: relative;
    vertical-align: top;
    margin: 0 0 1.6875em 0;
    padding: 0.35em 3.5em 0 0;
}
.altContact i {
    background-color: rgb(18, 63, 122);
    border-radius: 100%;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    width: 2.5em;
    top: 0;
}
/* Footer */
footer {
    background-color: #97c2eb;
    font-size: 1.2em;
    height: 8em;
    width: 100vw;
    padding: 3em 0 0 0;
    border-top: 2px solid rgb(136, 136, 136);
}
.bottomNav {
    position: relative;
    bottom: 0;
}
.bottomNav a {
    color: rgb(77, 77, 77);
    font-weight: 600;
}
.bottomNav a:hover {
    text-decoration: none;
    color: rgb(18, 63, 122);
}
/* Mobile */
@media only screen and (max-width: 768px)
{
    body {
        background-position-x: 18.7%;
        background-position-y: 45%;
        background-attachment: fixed;
    }
    .sectionBar{
        margin-top: 0.5em;
    }
    .section {
        margin-top: 0.5em;
        padding: 0;
    }
    nav li {
        padding: 0 0.2em 0 0.2em;
    }
    footer {
        height: 5em;
        padding: 1em 0 0 0;
    }
    .project {
        padding: 2em;
    }
    .contactForm {
        margin-top: 0.5em;
    }
    .altContact {
        margin-top: 0.5em;
    }
    .picture{
        margin: 1em 0 1em 0;
    }
    #contact{
        padding-bottom: 1em;
    }
} 