/* Colors:
1) transparent white: rgba(255, 255, 255, 0.7)
2) blue: #4485C3
3) light gray: #EEEEEE
4) light blue: #c5d6e6
5) other blue: rgb(18, 63, 122)

/* Shared */
body {
    overflow-x: hidden;
    background: url(./Assets/Skyline1.jpg);
    background-position: left 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 0.5em;
    /* border: 2px solid black; */
    padding: 5em;
}
nav li {
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
}
li {
    list-style: none;
}
h3 {
    font-size: 3em;
    color: rgb(18, 63, 122);
}
p {
    font-size: 1.2em;
}
/* Header */
header {
    background-color: #4485C3;
    height: 2em;
}
.topNav {
    position: absolute;
    padding-top: .17em;
    top: 0;
    right: 0;
}
.topNav a {
    color: white;
    font-weight: 600;
}
.topNav a:hover {
    text-decoration: none;
    color: black;
}
.title {
    height: 100vh;
    text-align: center;
    border-bottom: 2px solid rgb(136, 136, 136);

}
.title h1 {
    margin-top: 20vh;
    font-size: 9vw;
}
/* About */
.aboutMe {
    padding: 0 2em 0.8em 2em;
    background-color: white;
    border: 2px solid rgb(136, 136, 136);
}
.aboutMe h3 {
    padding: 0.8em 0 0.8em 0;
}
.picture img {
    max-width: 100%;
    border: 2px solid rgb(136, 136, 136);
}
.skills {
    text-align: right;
    background: white;
    border: 2px solid rgb(136, 136, 136);
}
.skills h3 {
    text-align: center;
    padding: 0.8em 0 0.8em 0;
}
.skills li {
    font-size: 1.1em;
}
.skillsList{
    padding: 0 2em 0 0;
}
.skillsList li {
    position: relative;
    vertical-align: top;
    margin: 0 0 1.6875em 0;
    padding: 0.35em 3.5em 0 0;
}
.skillsList i {
    background-color: rgb(18, 63, 122);
    border-radius: 100%;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    width: 2.5em;
    top: 0;
}
/* Projects */
.project img {
    max-width: 100%;
    min-width: 100%;
}
.projects {
    background: white;

}
#projects p {
    font-size: 0.9em;
}
.projects {
    text-align: center;
    padding: 2em 0 2em 0;
    border-bottom: 2px solid rgb(136, 136, 136);
    border-top: 2px solid rgb(136, 136, 136);
}
#projects {
    padding: 0;
}
.projectBar {
    text-align: center;
    color: rgb(18, 63, 122);
    background-color: #97c2eb;
    padding: 2em 0 2.25em 0;
    border-top: 2px solid rgb(136, 136, 136);
}
.project {
    padding: 1.5em 3.5em 1.5em 3.5em;
    background: white;
}
/* Contact */
.contactForm {
    padding: 2em;
    border: 2px solid rgb(136, 136, 136);
    background: white;
}
.contactForm label {
    width: 100%;
}
.contactForm input {
    width: 100%;
}
.contactForm textarea {
    width: 100%;
    height: 15em;
}
.altContact {
    padding: 2em;
    border: 2px solid rgb(136, 136, 136);
/* Footer */
footer {
    background-color: white;
    height: 2.5em;
    width: 100vw;
    padding: 0;
}